@page
@model AzuriteSample.Pages.Workflows.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Workflow</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow.FileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workflow.FileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow.AssignedTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workflow.AssignedTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow.FileSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workflow.FileSize) Bytes
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.TextAreaFor(modelItem => Model.Workflow.Notes, 3, 50, new {@readonly = "readonly", @style="border:0;"})
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workflow.Reviewed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workflow.Reviewed)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Workflow.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
